body{
    font-family: 'Lato', sans-serif;
}
.nav-container{
    background-color: #7952B3;
    position: sticky;
    top: 0;
    z-index: 1;
}
.about-container,.project-container,.online-container{
    background-color: #7952B3;
}
.banner-container{
    background-image: url("/img/banner-bg-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}
.banner-column{
    background-color: #7952B3;
    max-width: 700px;
}
.mybtn{
    background-color: transparent;
    color: #FFE484;
    border: 1px solid #FFE484;
}
.mybtn:hover{
    color: #7952B3;
    background-color: #FFE484;
}
.circle{
    background-color: #7952B3;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.inner-form{
    background-color: #7952B3;
}
.subbtn{
    background-color: #7952B3;
    color: #fff;
    border: 1px solid #7952B3;
}
.subbtn:hover{
    color: #fff;
}
.footer{
    background-color: #7952B3;
}
.link{
    display: inline-block;
    padding: 0 10px;
}
.link a{
    text-decoration: none;
    
}
.link a h5{
    color: #FFE484;
    border: 1px solid #FFE484;
    padding: 5px;
    font-weight: bolder;
}
.link a:hover h5{
    color: #7952B3;
    background-color: #FFE484;
}
